#journal #journal-nav {
  height: 100vh;
  background: var(--dark-green);
}

#book {
  margin: 2em 2em 2em calc(2em + var(--header-height));
  width: calc(100vw - var(--header-height) - 4em);
  height: calc(100vh - var(--header-height) - 4em);
  background-color: var(--white);
  border-radius: 1em;
  display: flex;
  flex-flow: row nowrap;
}

#left-page, #right-page {
  height: 100%;
  width: 50%;
}

#left-page {
  border-right: 2px solid var(--dark-green);
}