:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--dark-green);
  background-color: #FFFFFF;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark-green); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --header-height: 50px;

  --dark-green: #333D29;
  --orange: #D08644;
  --white: #FCF6F6;
}

/* 1. GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  justify-items: center;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

#root {
  width: 100%;
  text-align: center;
}

a {
  font-weight: 500;
  color: var(--orange);
  text-decoration: inherit;
}
a:hover {
  color: var(--orange);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}
.button:hover {
  border-color: var(--orange);
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* 2. HEADER STYLES */
header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.header-icon {
  height: 100%;
  width: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-green);
    background-color: var(--white);
  }
  a:hover {
    color: var(--orange);
  }
  button {
    background-color: var(--white);
  }
} */
